<%- include("partials/header"); -%>
<h1 class="page-title">Daily Statistics</h1>

<div class="daily-monthly-analysis">
    <h2 class="dailyAnalysisTitle">Daily Analysis</h2>  
    <ul>
      <li>Daily Total: <%= dailyTotal %></li>
      <li>Daily Goal: <%= dailyGoal %></li>
      <li>Monthly Total:</li>
      <li>Monthy +/-:</li>
      <li>Annual +/-:</li>
      <li>Avg Mthly Catchup:</li>
    </ul>
  
  </div>



<%- include("partials/footer") -%>