body {
    background-color: #6B4F4F;
}

.page-title {
    color: #eed6c4;
}

.dailyInputTitle {
    margin: 15px;
    padding-top: 15px;
}

.dailyAnalysisTitle {
    margin: 15px;
    padding-top: 15px;
}

.flexBoxContainer {
    display: flex;
    flex-direction: row;
}

.daily-input {
    background-color: #FFF3E4;
    height: 425px;
    width: 300px;
}

.daily-monthly-analysis {
    background-color: #FFF3E4;
    height: 425px;
    width: 300px;
    margin-left: 15px;
}

.daily-input-screen-box {
    background-color: #FFF3E4;
    height: 250px;
    width: 300px;
}

.form-group {
    margin-bottom: 30px;
}


.form-item {
    display: block;
    padding: 15px;
}

.input-btn {
    margin-left: 15px;
}

.footer {
    margin-top: 25px;
}

#selectedYear {
    width: 100px;
    text-align: center;
}